<%- include("partials/header.ejs", {mapName: mapName, mapData: mapData, countryMap: countryMap}); %>
  <form class="" action="/question1" method="post">
    <p>2 + 2 = </p>
    <input type="text" name="ans1" value="">
    <input type="hidden" name="smallName" value=<%= smallName %>>
    <br>
    <br>
    <button class="btn btn-primary btn-lg" type="submit" name="button">Submit</button>
  </form>
