body{
  background-color: #e4f9ff;
  text-align: center;
}

header{
  background-color: #0fabbc;
}

h1{
  color: #fff;
  font-family: 'Merriweather', serif;
  text-align: center;
}

h5{
  text-align: center;
}
.countryGrid{
  background-color: #12cad6;
}
.myMap{
  margin: 30px;
  text-align: center;
  display: inline-block;
  margin-right: 100px;
}
.card{
  display: inline-block;
  margin: 10px;
}
.card-img-top{
  padding: 10px;
}
